---
layout: page
sitemap:
  priority: 0.0
  changefreq: yearly
published: TRUE
title: "Search | C. David Maxey, M.A."
description: ""
---
<main id="search">{% capture mercury %}{% for tag in site.tags %}{% if tag[1].size > 9 %}{{tag[1].size}}{% else %}{{tag[1].size | prepend: '0'}}{% endif %}|{{tag[0]}}^{% endfor %}{% endcapture %}{% assign size_tag = mercury | split:'^' | sort %}{% capture venus %}{% for odlaw in size_tag reversed %}{{odlaw}}|{% cycle 'size_tag_color_cycle': 'red', 'orange', 'yellow', 'olive', 'green', 'teal', 'blue', 'violet', 'purple', 'pink' %}^{% endfor %}{% endcapture %}{% assign size_tag_color = venus | split:'^' | sort %}{% unless site.tags == EMPTY %}{% for tag in size_tag_color reversed %}{% assign wenda = tag | split:'|' %}
	<section class="blog" id="{{wenda[1] | slugify}}">{% for post in site.posts %}{% if post.tags contains wenda[1] %}
		<a class="card" href="{{site.url}}{{post.url}}">
			<amp-img src="{{site.cache}}/320/{{post.thumb.src}}" srcset="{{site.cache}}/320/{{post.thumb.src}} 320w,{{site.cache}}/640/{{post.thumb.src}} 640w,{{site.cache}}/1280/{{post.thumb.src}} 1280w" width="{{post.thumb.X}}" height="{{post.thumb.Y}}" layout="responsive"></amp-img>
			<header>{{post.title}}</header>
			<p>{{post.description}}</p>
		</a>{% endif %}{% endfor %}
	</section>{% endfor %}
	<section class="text">
		<div class="tags">{% for tag in size_tag_color reversed %}{% assign wilma = tag | split:'|' %}<a class="tag{% unless wilma[0] == '01' %} {{wilma[2]}}{% endunless %}" href="{{site.url}}/search/#{{wilma[1] | slugify}}">{{wilma[1]}} {{wilma[0] | plus:0}}</a>{% endfor %}{{ site.tags }}</div>
	</section>{% endunless %}
</main>