<table class="hours center">
	<thead>
		<tr>
			<th>School Days</th>
			<th></th>
			<th>School Breaks</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;4:30<span>-</span>6:30</td>
			<td>Mon</td>
			<td>10:00<span>-</span>6:30</td>
		</tr>
		<tr>
			<td>&nbsp;4:30<span>-</span>6:30</td>
			<td>Tue</td>
			<td>10:00<span>-</span>6:30</td>
		</tr>
		<tr>
			<td>&nbsp;4:30<span>-</span>6:30</td>
			<td>Wed</td>
			<td>10:00<span>-</span>6:30</td>
		</tr>
		<tr>
			<td>&nbsp;4:30<span>-</span>6:30</td>
			<td>Thu</td>
			<td>10:00<span>-</span>6:30</td>
		</tr>
		<tr>
			<td>&nbsp;4:30<span>-</span>6:30</td>
			<td>Fri</td>
			<td>10:00<span>-</span>6:30</td>
		</tr>
		<tr>
			<td>10:00<span>-</span>Noon</td>
			<td>Sat</td>
			<td>10:00<span>-</span>Noon</td>
		</tr>
		<tr>
			<td>by Appointment</td>
			<td>Sun</td>
			<td>by Appointment</td>
		</tr>
	</tbody>
</table>
