<table class="hours center">
	<thead>
		<tr>
			<th>School Days</th>
			<th></th>
			<th>School Breaks</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>&nbsp;5pm<span>-</span>6pm&nbsp;</td>
			<td>Mon</td>
			<td>10am<span>-</span>6pm&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;5pm<span>-</span>6pm&nbsp;</td>
			<td>Tue</td>
			<td>10am<span>-</span>6pm&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;5pm<span>-</span>6pm&nbsp;</td>
			<td>Wed</td>
			<td>10am<span>-</span>6pm&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;5pm<span>-</span>6pm&nbsp;</td>
			<td>Thu</td>
			<td>10am<span>-</span>6pm&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;5pm<span>-</span>6pm&nbsp;</td>
			<td>Fri</td>
			<td>10am<span>-</span>6pm&nbsp;</td>
		</tr>
		<tr>
			<td>10am<span>-</span>12pm</td>
			<td>Sat</td>
			<td>10am<span>-</span>12pm</td>
		</tr>
		<tr>
			<td>by Appointment</td>
			<td>Sun</td>
			<td>by Appointment</td>
		</tr>
	</tbody>
</table>
