		<footer>
            <div>
                <div>Copyright &copy; {{ site.time | date: "%Y" }} C. David Maxey, M.A.{% unless page.url == '/crisis/' %}<span class="bullet">&#8729;</span><a rel="nofollow license" href="https://cdavidmaxey.com/humans.txt">Credits</a>{% endunless %}</div>{% unless page.url == '/crisis/' %}
                <section class="details">
                    <div class="logo center">
                        <div>C. David Maxey, <span class="MA">M<span>.</span>A<span>.</span></span></div>
                        <div><small>Licensed Independent Psychologist&nbsp;Associate</small></div>
                    </div>
                    <div class="center">I go by David, Mr. Maxey, and he.</div>
                    <div class="center">Oregon License #5067</div>{% unless page.url == '/' or page.url == '/about/' or page.url == '/contact/' or page.url == '/services/' %}
                    <div class="fineprint">This website is for general informational purposes only and does not constitute psychological, medical or legal advice.</div>{% endunless %}
                    <div class="center"><small><a href="https://cdavidmaxey.com/good-faith-estimate-notice/">Good Faith Estimate Notice</a></small></div>
                    <div><small><a href="{{site.url}}/notice/"><svg class="fontawesome" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="#fff"><path transform="translate(-256,0)" d="M1344 960v-640h-448v1137q119-63 213-137 235-184 235-360zm192-768v768q0 86-33.5 170.5t-83 150-118 127.5-126.5 103-121 77.5-89.5 49.5-42.5 20q-12 6-26 6t-26-6q-16-7-42.5-20t-89.5-49.5-121-77.5-126.5-103-118-127.5-83-150-33.5-170.5v-768q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/></svg>Privacy&nbsp;Practices&nbsp;Notice</a></small></div>
                </section>
                <section class="cta">
                    <div class="mailto"><!--sse--><a rel="nofollow" href="mailto:{{site.email}}">{{site.email}}</a><!--/sse--></div>
                    <address><div><a class="left" href="{{site.url}}/contact/#address"><div class="wrap-address">{{site.office.address_formatted}}</div><div>{{site.office.city_state}}&nbsp;{{site.office.zip}}</div></a></div></address>
                </section>{% endunless %}
            </div>
		</footer>