		<footer>
			<section class="left">
				<div>
					<a class="logo" href="{{site.url}}/">
						<amp-img src="{{site.url}}/CDavidMaxey.jpg" height="50" width="50" alt="C. David Maxey"></amp-img>
						<div>
							<div><strong>C. David Maxey, M.A.</strong></div>
							<div><small>Psychologist Associate Resident</small></div>
						</div>
					</a>
				</div>
				<div>
					<div>Director&nbsp;of Student&nbsp;Support</div>
					<div><small>Le&nbsp;Monde French&nbsp;Immersion Public&nbsp;Charter&nbsp;School</small></div>
					<small><address>2044&nbsp;E&nbsp;Burnside&nbsp;St, Portland&nbsp;OR&nbsp;97214</address></small>
					<div><small>(Daniel J. Munoz, Ph.D., Psychologist,&nbsp;Supervisor)</small></div>
				</div>
				<div>
					<div>My name is David.</div>
					<div>My&nbsp;pronouns&nbsp;are he,&nbsp;him&nbsp;and&nbsp;his.</div>
				</div>
				<div>
					<nav>
						<div><a href="{{site.url}}/contact/">Contact</a></div>
						<div><a href="{{site.url}}/forms/">Forms</a></div>
						<div><a href="{{site.url}}/blog/">blog</a></div>
						<div><a href="{{site.url}}/search/">Search</a></div>
					</nav>
				</div>
				<div><small><a href="{{site.url}}/privacy/"><svg class="fontawesome" width="15" height="15" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1344 960v-640h-448v1137q119-63 213-137 235-184 235-360zm192-768v768q0 86-33.5 170.5t-83 150-118 127.5-126.5 103-121 77.5-89.5 49.5-42.5 20q-12 6-26 6t-26-6q-16-7-42.5-20t-89.5-49.5-121-77.5-126.5-103-118-127.5-83-150-33.5-170.5v-768q0-26 19-45t45-19h1152q26 0 45 19t19 45z" fill="#fff"/></svg> Privacy&nbsp;Notice</a><span> | </span><a rel="nofollow license" href="{{site.url}}/humans.txt">Credits</a> | <a rel="nofollow" href="{{site.url}}/unsubscribe/">Unsubscribe</a></small></div>
			</section>
			<section class="right">
				<div class="tel">{{site.tel}}</div>
				<div class="mailto">{{site.mailto}}</div>
				<form method="post" action-xhr="https://scripts.dreamhost.com/add_list.cgi" target="_top">
					<input type="hidden" name="list" value="news" />
					<input type="hidden" name="domain" value="cdmaxey.com" />
					<input type="hidden" name="emailit" value="1" />
					<div class="label"><label>Subscribe to my newsletters</label></div>
					<div class="input">
						<input type="email" name="email" required placeholder="email" />
						<button type="submit" name="submit" value="Subscribe"><svg width="24" height="24" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1600 736v192q0 40-28 68t-68 28h-416v416q0 40-28 68t-68 28h-192q-40 0-68-28t-28-68v-416h-416q-40 0-68-28t-28-68v-192q0-40 28-68t68-28h416v-416q0-40 28-68t68-28h192q40 0 68 28t28 68v416h416q40 0 68 28t28 68z"/></svg></button>
					</div>
<!--				<div>
						<input type="submit" name="submit" value="Subscribe" />
						<input type="submit" name="unsub" value="Unsubscribe" />
					</div>-->
				</form>
			</section>
		</footer>