		<footer>
            <div>
                <div>&copy;&nbsp;{{ site.time | date: "%Y" }} {% if page.url == '/crisis/' %}C. David Maxey, M.A.{% else %}Portland&nbsp;Psychological&nbsp;Services{% endif %}{% unless page.url == '/crisis/' or page.url == '/' or page.url == '/about/' or page.url == '/contact/' %}<span class="bullet">&#8729;</span><a rel="nofollow license" href="https://portlandpsychologicalservices.com/humans.txt">Credits</a>{% endunless %}</div>{% unless page.url == '/crisis/' %}
                <section class="details"><!--
                    <div class="logo center">
                        <div>C. David Maxey, <span class="MA">M<span>.</span>A<span>.</span></span></div>
                        <div><small>Licensed Psychologist&nbsp;Associate</small></div>
                    </div>
                    <div class="center">He goes by David or Mr. Maxey.</div>
                    <div class="center">Oregon License #5067</div>-->
                    <div class="center abn">Portland Psychological Services</div>{% unless page.url == '/' or page.url == '/about/' or page.url == '/contact/' or page.url == '/services/' %}
                    <div class="fineprint">This website is for general informational purposes only and does not constitute psychological, medical, or legal advice.</div>{% endunless %}
                    <div class="center"><small><a href="https://portlandpsychologicalservices.com/good-faith-estimate-notice/">Good Faith Estimate Notice</a></small></div>
                    <div><small><a href="{{site.url}}/notice/"><svg class="fontawesome" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg" fill="#fff"><path transform="translate(-256,0)" d="M1344 960v-640h-448v1137q119-63 213-137 235-184 235-360zm192-768v768q0 86-33.5 170.5t-83 150-118 127.5-126.5 103-121 77.5-89.5 49.5-42.5 20q-12 6-26 6t-26-6q-16-7-42.5-20t-89.5-49.5-121-77.5-126.5-103-118-127.5-83-150-33.5-170.5v-768q0-26 19-45t45-19h1152q26 0 45 19t19 45z"/></svg>Privacy&nbsp;Practices&nbsp;Notice</a></small></div>
                </section>{% endunless %}
            </div>
		</footer>