		<nav class="bar">
			<section>
				<a class="logo{% if page.url == '/' %} active{% endif %}" href="{{site.url}}/{% if page.url == '/' %}#{% endif %}">
					<amp-img src="{{site.url}}/DavidMaxey.jpg" height="50" width="50" alt="C. David Maxey"></amp-img>
					<div>
                        <div>C. David Maxey, <span class="MA">M<span>.</span>A<span>.</span></span></div>
				        <div><small>Psychologist Associate Resident</small></div>
					</div>
				</a>
				<a class="link{% if page.url == '/about/' %} active{% endif %}" href="{{site.url}}/about/{% if page.url == '/about/' %}#{% endif %}">About</a>
				<a class="link{% if page.url == '/contact/' %} active{% endif %}" href="{{site.url}}/contact/{% if page.url == '/contact/' %}#{% endif %}">Contact</a>
				<a class="link{% if page.url == '/services/' %} active{% endif %}" href="{{site.url}}/services/{% if page.url == '/services/' %}#{% endif %}">Services</a>
				<a class="link{% if page.url contains '/blog/' or page.layout == 'post' %} active{% endif %}" href="{{site.url}}/blog/{% for post in site.posts %}{% if page.id == post.id and forloop.index > site.paginate %}page{{forloop.index0 | divided_by:site.paginate | plus:1}}/{% break %}{% endif %}{% endfor %}{% if page.url contains '/blog/' %}#{% endif %}">blog</a>
				<a class="link right{% if page.url == '/search/' %} active{% endif %}" href="{{site.url}}/search/{% if page.url == '/search/' %}#{% endif %}"><svg class="fontawesome" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" fill="#fff"/></svg></a>
			</section>
			<section>
				<a class="link{% if page.url == '/about/' %} active{% endif %}" href="{{site.url}}/about/{% if page.url == '/about/' %}#{% endif %}">About</a>
				<a class="link{% if page.url == '/contact/' %} active{% endif %}" href="{{site.url}}/contact/{% if page.url == '/contact/' %}#{% endif %}">Contact</a>
				<a class="link{% if page.url == '/services/' %} active{% endif %}" href="{{site.url}}/services/{% if page.url == '/services/' %}#{% endif %}">Services</a>
				<a class="link{% if page.url contains '/blog/' or page.layout == 'post' %} active{% endif %}" href="{{site.url}}/blog/{% for post in site.posts %}{% if page.id == post.id and forloop.index > site.paginate %}page{{forloop.index0 | divided_by:site.paginate | plus:1}}/{% break %}{% endif %}{% endfor %}{% if page.url contains '/blog/' %}#{% endif %}">blog</a>
			</section>
		</nav>{% unless page.url == '/contact/' %}
		<div class="digits">
			<section>
				<!--sse--><a rel="nofollow" href="tel:{{site.tel}}">{{site.telephone}}</a><!--/sse-->
				<!--sse--><a class="right" rel="nofollow" href="mailto:{{site.email}}">{{site.email}}</a><!--/sse-->
			</section>
		</div>{% endunless %}