---
sitemap:
  priority: 0.5
  changefreq: monthly
published: TRUE
title: ""
description: ""
---
<!doctype html>
<html ⚡ lang="en">
{% include head.html %}
	<body>
{% include navbar.html %}
		<main>
			<section class="blog">{% for post in paginator.posts %}
				<a class="card" href="{{site.url}}{{post.url}}">
					<amp-img src="{{site.cache}}/320/{{post.thumb}}" srcset="{{site.cache}}/320/{{post.thumb}} 320w,{{site.cache}}/640/{{post.thumb}} 640w,{{site.cache}}/1280/{{post.thumb}} 1280w" width="{{post.thumbX}}" height="{{post.thumbY}}" layout="responsive"></amp-img>
					<header>{{post.title}}</header>
					<p>{{post.description}}</p>
				</a>{% endfor %}
			</section>
		</main>
{% include footer.html %}
	</body>
</html>