---
sitemap:
  priority: 0.7
  changefreq: monthly
published: TRUE
title: "blog | C. David Maxey, M.A."
description: ""
---
<!doctype html>
<html ⚡ lang="en">
{% include head.html %}
	<body>
{% include navbar.html %}
		<main>
			<section class="blog">{% for post in paginator.posts %}
				<a class="card" href="{{site.url}}{{post.url}}">
					<amp-img src="{{site.cache}}/320/{{post.thumb.src}}" srcset="{{site.cache}}/320/{{post.thumb.src}} 320w,{{site.cache}}/640/{{post.thumb.src}} 640w,{{site.cache}}/1280/{{post.thumb.src}} 1280w" width="{{post.thumb.X}}" height="{{post.thumb.Y}}" layout="responsive"></amp-img>
					<header>{{post.title}}</header>
					<p>{{post.description}}</p>
				</a>{% endfor %}
			</section>{% if paginator.total_pages > 1 %}
			<nav class="pager buttons">{% if paginator.previous_page %}
				<a href="{{site.url}}{{paginator.previous_page_path | remove: 'index.html'}}">Newer</a>{% endif %}{% for page in (1..paginator.total_pages) %}{% if page == paginator.page %}
				<a class="active">{{page}}</a>{% elsif page == 1 %}
				<a class="hide-mobile" href="{{site.url}}/blog/">{{page}}</a>{% else %}
				<a class="hide-mobile" href="{{site.url}}/blog/page{{page}}/">{{page}}</a>{% endif %}{% endfor %}{% if paginator.next_page %}
				<a href="{{site.url}}{{paginator.next_page_path}}">Older</a>{% endif %}
			</nav>{% endif %}
		</main>
{% include footer.html %}
	</body>
</html>