---
---
<!doctype html>{% capture mercury %}{% for tag in site.tags %}{% if tag[1].size > 9 %}{{tag[1].size}}{% else %}{{tag[1].size | prepend: '0'}}{% endif %}|{{tag[0]}}^{% endfor %}{% endcapture %}{% assign size_tag = mercury | split:'^' | sort %}
<html ⚡ lang="en">{% capture venus %}{% for odlaw in size_tag reversed %}{{odlaw}}|{% cycle 'size_tag_color_cycle': 'red', 'orange', 'yellow', 'olive', 'green', 'teal', 'blue', 'violet', 'purple', 'pink' %}^{% endfor %}{% endcapture %}{% assign size_tag_color = venus | split:'^' | sort %}
{% include head.html %}
	<body>
{% include navbar.html %}
		<main>
			<section class="post">
				<div>{% if page.video.src %}
					<amp-video width="{{page.video.X}}" height="{{page.video.Y}}" src="{{site.cache}}/videos/{{page.video.src}}" poster="{{site.cache}}/1280/{{page.image.src}}">
						<div fallback><p>Your browser doesn’t support this modern feature. Check your browser version and upgrade options at <a rel="nofollow" href="https://whatbrowser.org/">WhatBrowser.org</a></p></div>
						<source type="video/mp4" src="{{site.cache}}/video/{{page.video.src}}">
					</amp-video>{% elsif page.youtube.id %}
					<amp-youtube data-videoid="{{page.youtube.id}}" layout="responsive" width="{{page.youtube.X}}" height="{{page.youtube.Y}}"{% for variable in page.variables %} data-param-{{variable}}{% endfor %}></amp-youtube>{% elsif page.image.src %}
					<amp-img alt="{{page.alt}}" src="{{site.cache}}/320/{{page.image.src}}" srcset="{{site.cache}}/320/{{page.image.src}} 320w,{{site.cache}}/640/{{page.image.src}} 640w,{{site.cache}}/1280/{{page.image.src}} 1280w,{{site.cache}}/1920/{{page.image.src}} 1920w" layout="responsive" width="{{page.image.X}}" height="{{page.image.Y}}"></amp-img>{% endif %}{% if page.credits %}
					<div class="credits">{{page.credits}}</div>{% endif %}
					<h1>{{page.title}}</h1>
					<div class="timeago"><small><span>Updated&nbsp;</span><amp-timeago height="16" width="160" datetime="{{ page.date | date_to_xmlschema }}" locale="en">{{ page.date | date: "%e %B %Y" }}</amp-timeago></small></div>
					{{content}}{% if page.tags %}
					<div class="tags">{% for tag in page.tags %}{% for wenda in size_tag_color %}{% assign wilma = wenda | split:'|' %}{% if tag == wilma[1] %}{% if wilma[0] == "01" %}<div class="tag">{{wilma[1]}}</div>{% else %}<a class="tag {{wilma[2]}}" href="{{site.url}}/search/#{{wilma[1] | slugify}}">{{wilma[1]}} <span>{{wilma[0] | plus:0}}</span></a>{% endif %}{% endif %}{% endfor %}{% endfor %}</div>{% endif %}
					<nav class="pager buttons">{% if page.next.url %}
						<a href="{{site.url}}{{page.next.url}}">Newer Post</a>{% endif %}{% if page.previous.url %}
						<a href="{{site.url}}{{page.previous.url}}">Older Post</a>{% endif %}
					</nav>
				</div>
				<nav class="related">
					<div>{% assign counter = 0 %}{% for post in site.posts %}{% if post.id == page.id %}{% continue %}{% endif %}{% for tag in page.tags %}{% if post.tags contains tag %}{% assign counter = counter | plus: 1 %}
						<a class="card" href="{{site.url}}{{post.url}}">
							<amp-img src="{{site.cache}}/320/{{post.thumb.src}}" srcset="{{site.cache}}/320/{{post.thumb.src}} 320w,{{site.cache}}/640/{{post.thumb.src}} 640w,{{site.cache}}/1280/{{post.thumb.src}} 1280w" width="{{post.thumb.X}}" height="{{post.thumb.Y}}" layout="responsive"></amp-img>
							<header>{{post.title}}</header>
							<p>{{post.description}}</p>
						</a>{% break %}{% endif %}{% endfor %}{% if counter >= site.paginate %}{% break %}{% endif %}{% endfor %}
					</div>
				</nav>
			</section>
		</main>
{% include footer.html %}
	</body>
</html>