---
---
<!doctype html>
<html ⚡ lang="en">
	<head>
		<meta charset="utf-8">
		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-date-countdown" src="https://cdn.ampproject.org/v0/amp-date-countdown-0.1.js"></script>
        <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
		<title>{{page.title}}</title>
		<link href="{{site.url}}{{page.url}}" rel="canonical">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <style amp-custom>
            body{text-align:center;background:#85c1e5;font-size:16px;font-family:sans-serif;font-weight:100}
            a{text-decoration:none;color:#fff}
            #spread{min-height:9em}
            @media(min-width:540px){#spread{height:calc(100vh - 28em)}#links br{display:none}}
            #timer{padding:1em 0 0;font-family:sans-serif;color:#fff;display:inline-block;font-weight:100;text-align:center;font-size:2em}
            #timer .unit{min-width:2.5em;padding:calc(1em / 3);border-radius:.1em;background:#5584b1;display:inline-block}
            #timer .unit>span{padding:.5em;border-radius:.1em;background:#254e7b;display:inline-block;width:calc(100% - 1em)}
            .smalltext{padding-top:calc(1em / 3);font-size:.5em}
            h1,h2{color:#254e7b;font-weight:100;font-size:2.5em;padding:1em 0px .6em;margin:0}
            h2{font-size:1.5em}
            #links{padding-bottom:4em}
            #links a{margin:.4em;padding:.4em;background-color:#5584b1;display:inline-block;border-radius:.25em;min-width:calc(1em / 3 * 4)}
            #links .seconds{padding-left:.5em}
            #links #120s{min-width:calc(1em / 6 * 11)}
            #links .active{background:#254e7b}
            footer{position:fixed;left:0;bottom:0;width:100%;color:#fff;text-align:center;background-color:#5584b1;padding:.5em 0}
        </style>
		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
		<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
		<meta name="description" content="{{page.description}}">
		<meta name="author" content="{{site.Person.name}}">
		<link href="{{site.url}}/humans.txt" rel="author">
		<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/apple-touch-icon.png?v=20180309">
		<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/favicon-32x32.png?v=20180309">
		<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/favicon-16x16.png?v=20180309">
		<link rel="manifest" href="{{site.url}}/site.webmanifest?v=20180309">
		<link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg?v=20180309" color="#9c27b0">
		<link rel="shortcut icon" href="{{site.url}}/favicon.ico?v=20180309">
		<meta name="apple-mobile-web-app-title" content="C. David Maxey">
		<meta name="application-name" content="C. David Maxey">
		<meta name="msapplication-TileColor" content="#a58ac5">
		<meta name="theme-color" content="#ffffff">
		<meta name="format-detection" content="telephone=no">
	</head>        
	<body>
        <div id="spread">
            <amp-date-countdown id="timer" timeleft-ms="{% if page.minutes %}{{page.minutes | times: '60000'}}{% elsif page.seconds %}{{page.seconds | times: '1000'}}{% endif %}" biggest-unit="{% if page.minutes %}minutes{% elsif page.seconds %}seconds{% endif %}" layout="fixed-height" height="3.5em" when-ended="stop">
                <template type="amp-mustache">{% if page.minutes %}
                    <div class="unit">
                        <span>{% raw %}{{m}}{% endraw %}</span>
                        <div class="smalltext">{% raw %}{{minutes}}{% endraw %}</div>
                    </div>
                    <div class="unit">
                        <span>{% raw %}{{ss}}{% endraw %}</span>
                        <div class="smalltext">{% raw %}{{seconds}}{% endraw %}</div>
                    </div>{% elsif page.seconds %}
                    <div class="unit">
                        <span>{% raw %}{{s}}{% endraw %}</span>
                        <div class="smalltext">{% raw %}{{seconds}}{% endraw %}</div>
                    </div>{% endif %}
                </template>
            </amp-date-countdown>
        </div>
        <div id="links">
            <h2>Seconds</h2>
            <div class="seconds"><a {% if page.seconds == 15 %}class="active" {% endif %}href="{{site.url}}/15s">15</a><a {% if page.seconds == 30 %}class="active" {% endif %}href="{{site.url}}/30s">30</a><a {% if page.seconds == 45 %}class="active" {% endif %}href="{{site.url}}/45s">45</a><a {% if page.seconds == 60 %}class="active" {% endif %}href="{{site.url}}/60s">60</a><a {% if page.seconds == 90 %}class="active" {% endif %}href="{{site.url}}/90s">90</a><a id="120s" {% if page.seconds == 120 %}class="active" {% endif %}href="{{site.url}}/120s">120</a></div>
            <h2>Minutes</h2>
            <div><a {% if page.minutes == 1 %}class="active" {% endif %}href="{{site.url}}/1m">1</a><a {% if page.minutes == 2 %}class="active" {% endif %}href="{{site.url}}/2m">2</a><a {% if page.minutes == 3 %}class="active" {% endif %}href="{{site.url}}/3m">3</a><a {% if page.minutes == 4 %}class="active" {% endif %}href="{{site.url}}/4m">4</a><a {% if page.minutes == 5 %}class="active" {% endif %}href="{{site.url}}/5m">5</a><br><a {% if page.minutes == 6 %}class="active" {% endif %}href="{{site.url}}/6m">6</a><a {% if page.minutes == 7 %}class="active" {% endif %}href="{{site.url}}/7m">7</a><a {% if page.minutes == 8 %}class="active" {% endif %}href="{{site.url}}/8m">8</a><a {% if page.minutes == 9 %}class="active" {% endif %}href="{{site.url}}/9m">9</a><a {% if page.minutes == 10 %}class="active" {% endif %}href="{{site.url}}/10m">10</a></div>
            <div><a {% if page.minutes == 11 %}class="active" {% endif %}href="{{site.url}}/11m">11</a><a {% if page.minutes == 12 %}class="active" {% endif %}href="{{site.url}}/12m">12</a><a {% if page.minutes == 13 %}class="active" {% endif %}href="{{site.url}}/13m">13</a><a {% if page.minutes == 14 %}class="active" {% endif %}href="{{site.url}}/14m">14</a><a {% if page.minutes == 15 %}class="active" {% endif %}href="{{site.url}}/15m">15</a><br><a {% if page.minutes == 16 %}class="active" {% endif %}href="{{site.url}}/16m">16</a><a {% if page.minutes == 17 %}class="active" {% endif %}href="{{site.url}}/17m">17</a><a {% if page.minutes == 18 %}class="active" {% endif %}href="{{site.url}}/18m">18</a><a {% if page.minutes == 19 %}class="active" {% endif %}href="{{site.url}}/19m">19</a><a {% if page.minutes == 20 %}class="active" {% endif %}href="{{site.url}}/20m">20</a></div>
            <div><a {% if page.minutes == 25 %}class="active" {% endif %}href="{{site.url}}/25m">25</a><a {% if page.minutes == 30 %}class="active" {% endif %}href="{{site.url}}/30m">30</a><a {% if page.minutes == 35 %}class="active" {% endif %}href="{{site.url}}/35m">35</a><a {% if page.minutes == 40 %}class="active" {% endif %}href="{{site.url}}/40m">40</a><a {% if page.minutes == 45 %}class="active" {% endif %}href="{{site.url}}/45m">45</a><br><a {% if page.minutes == 50 %}class="active" {% endif %}href="{{site.url}}/50m">50</a><a {% if page.minutes == 55 %}class="active" {% endif %}href="{{site.url}}/55m">55</a><a {% if page.minutes == 60 %}class="active" {% endif %}href="{{site.url}}/60m">60</a><a {% if page.minutes == 75 %}class="active" {% endif %}href="{{site.url}}/75m">75</a><a {% if page.minutes == 90 %}class="active" {% endif %}href="{{site.url}}/90m">90</a></div>
        </div>
    </body>
    <footer><a href="{{site.url}}/">C. David Maxey</a></footer>
</html>