---
---
<!doctype html>
<html ⚡ lang="en">
	<head>
		<meta charset="utf-8">
		<script async src="https://cdn.ampproject.org/v0.js"></script>
		<script async custom-element="amp-date-countdown" src="https://cdn.ampproject.org/v0/amp-date-countdown-0.1.js"></script>
        <script async custom-template="amp-mustache" src="https://cdn.ampproject.org/v0/amp-mustache-0.2.js"></script>
		<title>{{page.title}}</title>
		<link href="{{site.url}}{{page.url}}" rel="canonical">
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
        <style amp-custom>
            body{text-align:center;background:#00ECB9;font-family:sans-serif;font-weight:100}
            h1{color:#396;font-weight:100;font-size:40px;margin:40px 0px 20px}
            #timer{font-family:sans-serif;color:#fff;display:inline-block;font-weight:100;text-align: center;font-size:30px}
            #timer .unit{padding:10px;border-radius:3px;background:#00BF96;display:inline-block}
            #timer .unit>span{padding:15px;border-radius:3px;background:#00816A;display:inline-block;width:calc(100% - 30px)}
            .smalltext{padding-top:5px;font-size:16px}
        </style>
		<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
		<noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
		<meta name="description" content="{{page.description}}">
		<meta name="robots" content="noindex">
		<meta name="author" content="{{site.Person.name}}">
		<link href="{{site.url}}/humans.txt" rel="author">
		<link rel="apple-touch-icon" sizes="180x180" href="{{site.url}}/apple-touch-icon.png?v=20180309">
		<link rel="icon" type="image/png" sizes="32x32" href="{{site.url}}/favicon-32x32.png?v=20180309">
		<link rel="icon" type="image/png" sizes="16x16" href="{{site.url}}/favicon-16x16.png?v=20180309">
		<link rel="manifest" href="{{site.url}}/site.webmanifest?v=20180309">
		<link rel="mask-icon" href="{{site.url}}/safari-pinned-tab.svg?v=20180309" color="#9c27b0">
		<link rel="shortcut icon" href="{{site.url}}/favicon.ico?v=20180309">
		<meta name="apple-mobile-web-app-title" content="C. David Maxey">
		<meta name="application-name" content="C. David Maxey">
		<meta name="msapplication-TileColor" content="#a58ac5">
		<meta name="theme-color" content="#ffffff">
		<meta name="format-detection" content="telephone=no">
	</head>        
	<body>
        <h1>Timer</h1>
        <amp-date-countdown id="timer" timeleft-ms="{% if page.minutes %}{{page.minutes | times: '60000'}}{% elsif page.seconds %}{{page.seconds | times: '1000'}}{% endif %}" biggest-unit="{% if page.minutes %}minutes{% elsif page.seconds %}seconds{% endif %}" layout="fixed-height" height="300" when-ended="stop">
            <template type="amp-mustache">{% if page.minutes %}
                <div class="unit">
                    <span>{% raw %}{{m}}{% endraw %}</span>
                    <div class="smalltext">{% raw %}{{minutes}}{% endraw %}</div>
                </div>
                <div class="unit">
                    <span>{% raw %}{{ss}}{% endraw %}</span>
                    <div class="smalltext">{% raw %}{{seconds}}{% endraw %}</div>
                </div>{% elsif page.seconds %}
                <div class="unit">
                    <span>{% raw %}{{s}}{% endraw %}</span>
                    <div class="smalltext">{% raw %}{{seconds}}{% endraw %}</div>
                </div>{% endif %}
            </template>
        </amp-date-countdown>
    </body>
</html>