---
redirect_from:
- "/blog/"
- "/blog/page2/"
- "/blog/page3/"
- "/positive-discipline/"
- "/Positive-discipline/"
- "/positive-Discipline/"
- "/Positive-Discipline/"
- "/positivediscipline/"
- "/Positivediscipline/"
- "/positiveDiscipline/"
- "/PositiveDiscipline/"
- "/Positive-Discipline-Kind-and-firm-with-mutual-respect/"
- "/Brushing-teeth-Having-trouble-getting-them-clean/"
- "/Sunscreen-wont-work-if-it-stays-in-the-bottle/"
- "/Sunscreen-lotion-wont-work-if-it-stays-in-the-bottle/"
- "/Sun-protection-Sunscreen-wont-work-if-it-stays-in-the-bottle/"
sitemap:
  priority: 0.7
  changefreq: monthly
published: TRUE
style: |-
  h1{font-size:2rem;margin:2rem 0 1rem;color:#1a237e}
  section.text{margin-bottom:2rem}
title: "Helping Children & Youth | C. David Maxey, M.A."
description: "Articles for parents and teachers about evidence-based practices, psychological services, and school-based supports for children and youth"
---
<!doctype html>
<html ⚡ lang="en">
{% include head.html %}
	<body>
{% include navbar.html %}
		<main>
            <section class="text">
                <h1 class="center">General Information Articles</h1>
                <p>Sometimes, parents need straightforward answers to simple questions (e.g., what is the recommended amount of sleep for children my kid’s age?) or an introduction to an issue we’ll discuss in more detail during our appointment (e.g., should my child repeat or skip a grade in school?). In such cases, I might refer parents to one of these articles for general informational purposes. Please note, these articles do not constitute psychological, medical, or legal advice.</p>
            </section>
			<section class="blog">{% for post in site.posts %}
				<a class="card" href="{{site.url}}{{post.url}}">
					<amp-img src="{{site.cache}}/320/{{post.thumb.src}}" srcset="{{site.cache}}/320/{{post.thumb.src}} 320w,{{site.cache}}/640/{{post.thumb.src}} 640w,{{site.cache}}/1280/{{post.thumb.src}} 1280w" width="{{post.thumb.X}}" height="{{post.thumb.Y}}" layout="responsive" alt="{{post.alt}}"></amp-img>
					<header>{{post.title}}</header>
					<p>{{post.description}}</p>
				</a>{% endfor %}
			</section>
		</main>
{% include footer.html %}
	</body>
</html>